@import 'variables';
* {
    box-sizing: border-box;
}

body {
    color: #222;
}

.card-product-item {
    margin-bottom: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}
.checkbox-select-all-options {
    max-width: 160px;
    margin: 0 12px;
}
