@import 'variables';
* {
    box-sizing: border-box;
}

body {
    color: #222;
}

.card-product-item {
    margin-bottom: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 4px;
}
.checkbox-select-all-options {
    max-width: 160px;
    margin: 0 12px;
}
tr {
    display: grid;
    grid-template-columns: 5% 5% 30% 20% 30% auto;
}

tr th {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

tr th svg {
    fill: crimson;
    margin-bottom: -2px;
}
