<div class="mt-4">
 <form method="post" action="">

   <div class="form-group">
    <label for="search-input">Keyword</label>
    <input type="text" class="form-control" id="search-input" name="q"
      placeholder="Enter keyword need find ...">
    
  </div>

   <button type="submit" class="btn btn-primary">Search</button>
 </form>
</div>